.H2,.Link--sm,.Link--large
{
	font-family: maven-pro-n4, sans-serif;
}

#u3496-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3488-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3473-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3484-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u6526-4
{
	font-family: maven-pro-n5, sans-serif;
}

#u6251-4,#u6252-4
{
	font-family: dosis-n5, sans-serif;
}

#u2790-4
{
	font-family: maven-pro-n7, sans-serif;
}

#u2812-4
{
	font-family: dosis-n7, sans-serif;
}

#u2840-4,#u2792-4,#u6305-4
{
	font-family: maven-pro-n5, sans-serif;
}

#u2795-6,#u2797-4,#u2806-4,#u2807-4,#u2796-4,#u2808-4,#u2798-6,#u2809-4,#u2799-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u2878-4,#u2880-4,#u2879-4
{
	font-family: dosis-n5, sans-serif;
}

