.H2,.Link--sm,.Link--large
{
	font-family: maven-pro-n4, sans-serif;
}

#u3496-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3488-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3473-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u3484-4
{
	font-family: droid-sans-n7, sans-serif;
}

#u6526-4
{
	font-family: maven-pro-n5, sans-serif;
}

#u6251-4,#u6252-4
{
	font-family: dosis-n5, sans-serif;
}

#u4474-4
{
	font-family: maven-pro-n5, sans-serif;
}

#u6354-4,#u6355-4
{
	font-family: maven-pro-n4, sans-serif;
}

